
	/* #Pirmary */
$clr-Lime-Green: hsl(163, 72%, 41%);
$clr-Bright-Red: hsl(356, 69%, 56%);

$clr-Facebook: hsl(208, 92%, 53%);
$clr-Twitter: hsl(203, 89%, 53%);
$clr-Instagram-1:hsl(37, 97%, 70%);
$clr-Instagram-2: hsl(329, 70%, 58%);
$clr-YouTube: hsl(348, 97%, 39%);

/* ### Theme Toggle */

$clr-Toggle-gradient-1:hsl(210, 78%, 56%);
$clr-Toggle-gradient-2:hsl(146, 68%, 55%);

/* #### Light Theme Toggle */

$clr-Toggle-Light: hsl(230, 22%, 74%);

/* ### Neutral */

/* #### Dark Theme */

$clr-Very-Dark-Blue-BG: hsl(230, 17%, 14%);
$clr-Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
$clr-Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
$clr-Desaturated-Blue-Text: hsl(228, 34%, 66%);
$clr-White-Text: hsl(0, 0%, 100%);

/* #### Light Theme */

$clr-White-BG: hsl(0, 0%, 100%);
$clr-Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
$clr-Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
$clr-Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
$clr-Very-Dark-Blue-Text: hsl(230, 17%, 14%);